 <div class="login-bg-container d-flex">
    <div class="text-center bg-login-container">
      <img src="../../../../assets/images/logo.png" alt="logo" />
      <div class="container">
        <h3>Merci pour votre inscription</h3>
  
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">nous vous avons envoyé un email à l'adresse <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Merci de cliquer sur le lien pour confirmer votre inscription.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Renvoyer le lien
          </button>
        </div>
        <hr>
        <div class="mt-2">
          <span>Vous avez déjà un compte ? <span class="ml-2 cursor-pointer" routerLink="/sign-in"><u>Me connecter</u></span></span>
        </div>
      </div>
    </div>
  </div>