<div class="login-bg-container d-flex">
  <div class="text-center bg-login-container">
    <img src="../../../../assets/images/logo.png" alt="logo" />
    <div class="container">
      <form [formGroup]="forgotPasswordForm" (submit)="resetPassword()">
        <div class="form-group">
          <label for="email"> Votre adresse email</label>
          <input id="email" type="email" class="form-control" formControlName="email" required />
          <div *ngIf="f.email.touched && f.email.errors && f.email.errors.email" class="text-danger">
            Adresse email invalide
         </div>
        </div>
        <button type="submit" class="btn btn-success">Valider</button>
        <hr>
        <div class="mt-2">
          <span>Vous avez déjà un compte ? <span class="ml-2 cursor-pointer" routerLink="/sign-in"><u>Me connecter</u></span></span>
        </div>
        </form>
    </div>
  </div>
</div>