<div class="login-bg-container d-flex">
  <div class="text-center bg-login-container">
    <img src="../../../../assets/images/logo.png" alt="logo" />
    <div class="container">
      <form [formGroup]="loginForm" (submit)="login();">
        <div class="form-group">
          <label for="email"> Votre adresse email</label>
          <input id="email" type="email" class="form-control" formControlName="email" required />
        </div>

        <div class="form-group">
          <label for="password"> Votre mot de passe</label>
          <input id="password" type="password" class="form-control" formControlName="password" required />
        </div>
        <button type="submit" class="btn btn-success">Valider</button>

        <div class="mt-4 text-primary cursor-pointer">
          <span routerLink="/forgot-password">J'ai oublié mon mot de passe</span>
        </div>
      </form>
      <hr />
      <div class="col-md-12">
        <button
          (click)="authService.GoogleAuth()"
          class="btn btn-google btn-block text-uppercase btn-outline"
        >
          <img src="https://img.icons8.com/color/20/000000/google-logo.png" />
          <span class="ml-3">Me connecter avec google</span>
        </button>
      </div>

      <div class="mt-4">
        <span
          >Vous n'avez pas de compte ?<span
            class="redirect"
            routerLink="/register-user"
          >
            <span class="ml-2 cursor-pointer"><u>Je m'inscris</u></span></span
          ></span
        >
      </div>
    </div>
  </div>
</div>
